doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 首页
    link(rel='stylesheet', href='styles/style.css')
  body
    .header
      span.header-pic
      .header-cont
        h1.logo-box
          img(src='Images/logo.png', width='111', height='157', alt='')
          img(src='Images/brand.png', width='118', height='107', alt='')
        .nav-box
          ul
            li
              a(href='#', target='_blank')
                | 首页
                span.name-en home
            li
              a(href='#', target='_blank')
                | 金熊奥森
                span.name-en jinxiongaosun
            li.active
              a(href='#', target='_blank')
                | 成人培训
                span.name-en adulttraining
              .sub-nav
                ul
                  li
                    a(href='#', target='_blank') 团建定制
                  li
                    a(href='#', target='_blank') 棒球与团队
                  li
                    a(href='#', target='_blank') 案例展示
            li
              a(href='#', target='_blank')
                | 儿童培训
                span.name-en children's training
            li
              a(href='#', target='_blank')
                | 报名方式
                span.name-en registration form
            li
              a(href='#', target='_blank')
                | 关于棒球
                span.name-en about baseball
        .txt-box
          p.zh-txt 棒球界
          p.en-txt the baseball world
    .wrap-fluid.gray-bg
      .main-con
        h2.top-tit
          | 我们专注中国最好的棒球培训教育
          br
          span.en You the most plausible baseball base
        .show-list
          ul
            li
              img(src='Images/show_pic1.jpg', width='234', height='184', alt='')
            li
              img(src='Images/show_pic2.jpg', width='234', height='184', alt='')
            li.show-pic-bg
              .txt-box
                span.en adults
                br
                span.zh 成人培训
            li
              img(src='Images/show_pic3.jpg', width='234', height='184', alt='')
            li.show-pic-bg
              .txt-box
                span.en To sign up
                br
                span.zh 报名方式
            li
              img(src='Images/show_pic4.jpg', width='234', height='184', alt='')
            li.show-pic-bg
              .txt-box
                span.en BASEBALL
                br
                span.zh 关于棒球
            li
              img(src='Images/show_pic5.jpg', width='234', height='184', alt='')
            li.show-pic-bg
              .txt-box
                span.en Children's
                br
                span.zh 儿童培训
            li
              img(src='Images/show_pic6.jpg', width='234', height='184', alt='')
        .btn-more
          a(href='#')
            | view more
            i.arrow-icon
    .footer
      .footer-cont
        .footer-link
          ul
            li
              h5.tit 金熊奥森
              a.link(href='#', target='_blank') 我们的优势
              a.link(href='#', target='_blank') 明星教练
            li
              h5.tit 成人培训
              a.link(href='#', target='_blank') 团建制定
              a.link(href='#', target='_blank') 棒球与团队
              a.link(href='#', target='_blank') 案例与展示
            li
              h5.tit 儿童培训
              a.link(href='#', target='_blank') 培训理念
              a.link(href='#', target='_blank') 训练意义
              a.link(href='#', target='_blank') 课程展示
            li.last
              h5.tit 关于棒球
              a.link(href='#', target='_blank') 棒球文化
              a.link(href='#', target='_blank') 视频欣赏
        .footer-ewm
          .ewm-pic
            img(src='Images/ewm.jpg', width='107', height='107', alt='')
          .ewm-txt
            strong.tit
            p 扫描关注金熊奥森官方微信，了解更多新动态
      .footer-copyright
        p.num-cont  Copyright@2014 nilo.com All Rights Reserved 京ICP备8888888号
        p 金熊奥森（北京）有限责任公司    版权所有
